.App {
  text-align: center;
}


.img1 {
  height: 5cm;
  width: 200px;
}

.container {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  
}

.item {
  margin: 0 100px;
}

.nav {
  margin: 0 50px;
}